/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #333;
}

/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: #fff;
}
body {
  color: #333;
  text-align: center;
  text-shadow: 0 1px 1px rgba(0,0,0,.1);
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.3);
          box-shadow: inset 0 0 100px rgba(0,0,0,.3);
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
}

/* Padding for spacing */
.inner {
  padding: 30px;
}


/*
 * Header
 */
.masthead-brand {
  margin-top: 10px;
  margin-bottom: 10px;
}

.masthead-nav {
  float: right;
}
.masthead-nav > li {
  display: inline-block;
}
.masthead-nav > li + li {
  margin-left: 20px;
}
.masthead-nav > li > a {
  padding: 0;
  font-size: 1.1em;
  font-weight: bold;
  color: #777;
  text-transform: uppercase;
  border-bottom: 2px solid transparent;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  background-color: transparent;
  color: #555;
  border-bottom-color: #555;
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  color: #ff9900;
  border-bottom-color: #ff9900;
}

@media (min-width: 768px) {
  .masthead-brand {
    float: left;
  }
}


/*
 * Cover
 */

.cover {
  padding: 0 20px;
}
.cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
}


/*
 * Footer
 */

.mastfoot {
  color: #555;
  text-transform: uppercase;
  letter-spacing: 2px;
}


/*
 * Affix and center
 */

@media (min-width: 768px) {
  /* Pull out the header and footer
  .masthead {
    position: fixed;
    top: 0;
  }
  .mastfoot {
    position: fixed;
    bottom: 0;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 992px) {
  .masthead,
  .mastfoot,
  .cover-container {
    width: 960px;
  }
}

/* others */

.destaque {
  color: #ff9900;
}

iframe {
  border: 0;
}

.youtube
{
  width: 450px;
  height: 253px;
  float: inherit;
}

#redessociais {
  float: left;
}

#redessociais a {
  margin-right: 3px;
  display: block;
  width: 29px;
  height: 28px;
  float: left;
}

#redessociais .facebook {
  background-image: url('../img/socialFacebook.png');
}

#redessociais .facebook:hover {
  background-image: url('../img/socialFacebook.png');
  background-position: 0 28px;
  text-decoration: none;
}

#redessociais .instagram {
  background-image: url('../img/socialInstagram.png');
}

#redessociais .instagram:hover {
  background-image: url('../img/socialInstagram.png');
  background-position: 0 28px;
  text-decoration: none;
}
#redessociais .twitter {
  background-image: url('../img/socialTwitter.png');
}

#redessociais .twitter:hover {
  background-image: url('../img/socialTwitter.png');
  background-position: 0 28px;
  text-decoration: none;
}
#redessociais .youtube {
  background-image: url('../img/socialYouTube.png');
}

#redessociais .youtube:hover {
  background-image: url('../img/socialYouTube.png');
  background-position: 0 28px;
  text-decoration: none;
}

h1#logo {
  width: 233px;
  height: 253px;
  background-image: url('../img/distritoalfa.png');
  background-size: contain;
  margin: 60px auto 0 auto;
}

h1#logo span {
  display: none;
}

h2 {
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 30px;
}

.legend-destaque1 {
  color: #ff9900;
  font-size: 1.3em;
}

.legend-destaque2 {
  font-size: 1em;
}

legend {
  text-transform: uppercase;
  letter-spacing: 2px;
}

.clear {
  clear: both;
}

@media (max-width: 495px) {
  .masthead-nav {
    clear: both;
    margin-top: 20px;
    float: inherit;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: -40px;
  }
  #redessociais {
    clear: both;
    float: inherit;
    width: 128px;
    height: 28px;
    margin-right: auto;
    margin-left: auto;
    margin-top: -15px;
  }
  .youtube {
    width: 320px;
    height: 180px;
  }
}
@media (max-width: 370px) {
  .youtube {
    width: 280px;
    height: 158px;
  }
  .inner {
    padding: 5px;
  }
  #redessociais {
    margin-top: 0;
  }
}
/* animations */

@keyframes fadein {
from { opacity: 0; }
to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
from { opacity: 0; }
to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
from { opacity: 0; }
to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
from { opacity: 0; }
to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
from { opacity: 0; }
to   { opacity: 1; }
}

@keyframes fadeout {
from { opacity: 1; }
to   { opacity: 0; }
}

/* Firefox < 16 */
@-moz-keyframes fadeout {
from { opacity: 1; }
to   { opacity: 0; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadeout {
from { opacity: 1; }
to   { opacity: 0; }
}

/* Internet Explorer */
@-ms-keyframes fadeout {
from { opacity: 1; }
to   { opacity: 0; }
}

/* Opera < 12.1 */
@-o-keyframes fadeout {
from { opacity: 1; }
to   { opacity: 0; }
}

.ng-enter {
  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 2s; /* Firefox < 16 */
  -ms-animation: fadein 2s; /* Internet Explorer */
  -o-animation: fadein 2s; /* Opera < 12.1 */
  animation: fadein 2s;
}

.ng-leave {
  -webkit-animation: fadeout .1s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadeout .1s; /* Firefox < 16 */
  -ms-animation: fadeout .1s; /* Internet Explorer */
  -o-animation: fadeout .1s; /* Opera < 12.1 */
  animation: fadeout .1s;
}
