a {
  color: $cor1;
  &:focus, &:hover, &active {
    color: $cor1Variante;
    text-decoration: underline;
  }
}

html,
body {
  background-color: #fff;
}

body {
  color: $cor1;
  text-align: center;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: inset 0 0 100px rgba(0, 0, 0, 0.3);
          box-shadow: inset 0 0 100px rgba(0, 0, 0, 0.3);
}

iframe {
  border: 0;
}

#header,
#footer {
  padding: 10px;
}

.container {
  width: 960px;
  height: 100%;
  margin: 0 auto 0 auto;
  display: table;
  clear: both;
  @media #{$mq-large} {
    width: 100%;
  }
}

.destaque {
  color: $cor2;
}
