
#redessociais {
  float: left;
}

#redessociais a {
  margin-right: 3px;
  display: block;
  width: 29px;
  height: 28px;
  float: left;
}

#redessociais .facebook {
  background-image: url('../img/socialFacebook.png');
}

#redessociais .facebook:hover {
  background-image: url('../img/socialFacebook.png');
  background-position: 0 28px;
  text-decoration: none;
}

#redessociais .instagram {
  background-image: url('../img/socialInstagram.png');
}

#redessociais .instagram:hover {
  background-image: url('../img/socialInstagram.png');
  background-position: 0 28px;
  text-decoration: none;
}
#redessociais .twitter {
  background-image: url('../img/socialTwitter.png');
}

#redessociais .twitter:hover {
  background-image: url('../img/socialTwitter.png');
  background-position: 0 28px;
  text-decoration: none;
}
#redessociais .youtube {
  background-image: url('../img/socialYouTube.png');
}

#redessociais .youtube:hover {
  background-image: url('../img/socialYouTube.png');
  background-position: 0 28px;
  text-decoration: none;
}

h1#logo {
  width: 233px;
  height: 253px;
  background-image: url('../img/distritoalfa.png');
  background-size: contain;
  margin: 60px auto 0 auto;
}

h1#logo span {
  display: none;
}

h2 {
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 30px;
}
