#redessociais {
  float: left;
  width: 128px;
  height: 28px;
  margin-right: auto;
  margin-left: auto;
  a {
    margin-right: 3px;
    display: block;
    width: 29px;
    height: 28px;
    float: left;
    text-decoration: none;
  }
  .facebook {
    background-image: url('../img/socialFacebook.png');
    &:hover {
      @include redessociais-background-change;
    }
  }
  .instagram {
    background-image: url('../img/socialInstagram.png');
    &:hover {
      @include redessociais-background-change;
    }
  }
  .twitter {
    background-image: url('../img/socialTwitter.png');
    &:hover {
      @include redessociais-background-change;
    }
  }
  .youtube {
    background-image: url('../img/socialYouTube.png');
    &:hover {
      @include redessociais-background-change;
    }
  }
  @media #{$mq-medium} {
    clear: both;
    float: inherit;
  }
  @media #{$mq-small} {
    margin-top: 0;
  }
}

h1 {
  width: 233px;
  height: 253px;
  background-image: url('../img/distritoalfa.png');
  background-size: contain;
  margin: 60px auto 20px auto;
  span {
    display: none;
  }
}

h2 {
  margin: 0 0 20px 0;
  @include uppercasing;
}
