<h2>Convites</h2>
<p>Preencha o formul&aacute;rio abaixo com os dados a respeito do evento. Lhe responderemos em breve!</p>
<p>Caso voc&ecirc; tenha alguma d&uacute;vida ou dificuldade, por favor, entre em contato para conversarmos. Voc&ecirc; consegue nos encontrar no e-mail <strong>contato<span class="destaque">{&#64;}</span>distritoalfa.com.br</strong> e nos telefones <strong>(21) 97945-9067</strong> e <strong>(21) 99808-4476</strong>.</p>
<form action="app/controllers/formAction.php" method="post">
	<fieldset>
		<legend class="legend-destaque1">Sobre o evento</legend>
		<div class="form-group col-sm-6">
			<input class="form-control" name="nomeEvento" id="nomeEvento" type="text" placeholder="NOME DO EVENTO" title="Nome do evento" required/>
		</div>
		<div class="form-group col-sm-6">
			<input class="form-control" name="endereco" id="endereco" type="text" placeholder="ENDERE&Ccedil;O DO LOCAL" title="Endere&ccedil;o do local" required/>
		</div>
		<fieldset class="form-group col-xs-4">
			<legend class="legend-destaque2">Data</legend>
			<input class="form-control" name="data" id="data" type="date" placeholder="DATA DO EVENTO" title="Data do evento" required/>
		</fieldset>
		<fieldset class="form-group col-xs-4">
			<legend class="legend-destaque2">In&iacute;cio</legend>
			<input class="form-control" name="horaInicio" id="horaInicio" type="time" placeholder="HORA DE IN&Iacute;CIO (PREVISTA)" title="Hora de in&iacute;cio (prevista)" required/>
		</fieldset>
		<fieldset class="form-group col-xs-4">
			<legend class="legend-destaque2">T&eacute;rmino</legend>
			<input class="form-control" name="horaTermino" id="horaTermino" type="time" placeholder="HORA DE T&Eacute;RMINO (PREVISTA)" title="Hora de t&eacute;rmino (prevista)" required/>
		</fieldset>
		<div class="form-group col-sm-12 clear">
			<input class="form-control" name="enderecoEletronico" id="enderecoEletronico" type="text" placeholder="ENDERE&Ccedil;O ELETR&Ocirc;NICO DO EVENTO (se houver - evento no Facebook, site, fanpage, etc.)" title="Endere&ccedil;o eletr&ocirc;nico do evento (se houver - evento no Facebook, site, fanpage, etc.)"/>
		</div>
		<div class="form-group col-sm-4">
			<input class="form-control"  name="nomeResponsavel" id="nomeResponsavel" type="text" placeholder="NOME DO RESPONS&Aacute;VEL" title="Nome do respons&aacute;vel" required/>
		</div>
		<div class="form-group col-sm-4">
			<input class="form-control"  name="telResponsavel" id="telResponsavel" type="tel" placeholder="TELEFONE DO RESPONS&Aacute;VEL" title="Telefone do respons&aacute;vel" required/>
		</div>
		<div class="form-group col-sm-4">
			<input class="form-control" name="emailResponsavel" id="emailResponsavel" type="email" placeholder="E-MAIL DO RESPONS&Aacute;VEL" title="E-mail do respons&aacute;vel" required/>
		</div>
		<div class="form-group col-sm-12 clear">
			<textarea class="form-control" name="objetivo" id="objetivo" rows="3" placeholder="OBJETIVO (Breve resumo de como ser&aacute; evento)" title="Objetivo (breve resumo de como ser&aacute; evento)"></textarea>
		</div>
	</fieldset>
	<fieldset class="form-group">
		<legend class="legend-destaque1">Sobre nossa participa&ccedil;&atilde;o</legend>
		<fieldset class="from-group col-sm-6">
			<legend class="legend-destaque2">Tempo de apresentação</legend>
			<input class="form-control" name="tempoDeApresentacao" id="tempoDeApresentacao" type="text" placeholder="QUANTIDADE DE M&Uacute;SICAS OU TEMPO DISPON&Iacute;VEL" title="Quantidade de m&uacute;sicas (ou tempo dispon&iacute;vel)" required/>
		</fieldset>
		<fieldset class="from-group col-sm-6">
			<legend class="legend-destaque2">Passagem de som</legend>
			<input class="form-control" name="passagemDeSom" id="passagemDeSom" type="time" placeholder="HORA DA PASSAGEM DE SOM" title="Hora da passagem de som" required/><br/>
		</fieldset>
		<div class="form-group col-sm-12 clear">
			<textarea class="form-control" name="cronograma" id="cronograma" rows="3" placeholder="CRONOGRAMA DO EVENTO E ONDE ESTAR&Iacute;AMOS ENCAIXADOS" title="Cronograma do evento e onde estar&iacute;amos encaixados" required></textarea>
		</div>
	</fieldset>
	<fieldset>
		<legend class="legend-destaque1">Estrutura disponível no local</legend>
		<p>Para sabermos se ser&aacute; necess&aacute;rio levarmos algum equipamento extra, por favor, marque abaixo os itens que encontram-se dispon&iacute;veis para utiliza&ccedil;&atilde;o no local do evento:</p>
		<fieldset class="form-group col-xs-6">
			<legend class="legend-destaque2">Microfones</legend>
			<input class="form-control" name="microfonesQtd" id="microfonesQtd" type="text" placeholder="MICROFONES NO LOCAL" title="Quantidade de microfones dispon&iacute;veis"/>
		</fieldset>
		<fieldset class="form-group col-xs-6">
			<legend class="legend-destaque2">Pedestais p/ mic's</legend>
			<input class="form-control" name="pedestaisQtd" id="pedestaisQtd" type="text" placeholder="PEDESTAIS NO LOCAL" title="Quantidade de pedestais dispon&iacute;veis"/>
		</fieldset>
		<div class="checkbox clear">
			<label>
				<input name="ampBaixo" id="ampBaixo" type="checkbox" value="Sim"/> <strong>Amplificador de contrabaixo</strong>
			</label>
		</div>
		<div class="checkbox">
			<label>
				<input name="ampGuitarra" id="ampGuitarra" type="checkbox" value="Sim"/> <strong>Amplificador de guitarra</strong>
			</label>
		</div>
		<div class="checkbox">
			<label>
				<input name="canalTeclado" id="canalTeclado" type="checkbox" value="Sim"/> <strong>Canal para teclado</strong>
			</label>
		</div>
		<div class="checkbox">
			<label>
				<input name="canalViolao" id="canalViolao" type="checkbox" value="Sim"/> <strong>Canal para viol&atilde;o</strong>
			</label>
		</div>
		<div class="checkbox">
			<label>
				<input name="bateria" id="bateria" type="checkbox" value="Sim"/> <strong>Bateria (bumbo, tambores e estantes de pratos)</strong>
			</label>
		</div>
		<div class="checkbox">
			<label>
				<input name="pratosBateria" id="pratosBateria" type="checkbox" value="Sim"/> <strong>Pratos de bateria</strong>
			</label>
		</div>
		<div class="checkbox">
			<label>
				<input name="caixaBateria" id="caixaBateria" type="checkbox" value="Sim"/> <strong>Caixa (tarol) de bateria</strong>
			</label>
		</div>
		<p>N&oacute;s levamos nossos instrumentos e cabos. Normalmente contamos com 4 vozes, 1 guitarra, 1 contrabaixo, 1 viol&atilde;o, 1 teclado e utilizamos a bateria do local. Caso haja algum item incompleto ou indispon&iacute;vel no local do evento, basta nos informar atrav&eacute;s deste campo de observa&ccedil;&otilde;es:</p>
		<div class="form-group col-sm-12">
			<textarea class="form-control" name="obsEstrutura" id="obsEstrutura" rows="3" placeholder="OBSERVA&Ccedil;&Otilde;ES" title="Observa&ccedil;&otilde;es"></textarea>
		</div>
	</fieldset>
	<fieldset class="form-group">
		<legend class="legend-destaque1">Apoio</legend>
		<p>Para que possamos continuar levando reflex&otilde;es em forma de m&uacute;sica, n&oacute;s, como um projeto independente, contamos com o apoio de gente que acredita em nosso trabalho.</p>
		<p><strong>N&oacute;s n&atilde;o cobramos para tocar,</strong> no entanto, dependendo da dist&acirc;ncia e das necessidades do momento, podemos solicitar uma ajuda de custo para nosso transporte e a disponibiliza&ccedil;&atilde;o de lanche para nossa equipe (atualmente contamos com 8 pessoas).</p>
	</fieldset>
	<input class="btn btn-lg btn-warning" type="submit" value="ENVIAR"/><br/>
</form>
<br /><br />
<em>"Porque dele e por ele, e para ele, s&atilde;o todas as coisas; gl&oacute;ria pois, a ele eternamente. Am&eacute;m" (Rm 11.36)</em>
