<h2>Mídias</h2>
<p>
  Utilize os materiais abaixo para confecção de conteúdos de divulgação. Para baixar o conteúdo desejado, basta clicar sobre a imagem.
</p>
<div class="col-sm-offset-3 col-sm-3 col-xs-6">
  <a href="img/midiaLogomarcaDistritoAlfa01.png">
    <img src="img/midiaLogomarcaDistritoAlfa01.png" alt="Logomarca Distrito Alfa" class="img-thumbnail"/>
    Logomarca com fundo transparente + círculo preenchido<br />
    <strong>Ideal para aplicação em fundo escuro</strong><br />
    PNG - 1000 x 1000px<br /><br />
  </a>
</div>
<div class="col-sm-3 col-xs-6">
  <a href="img/midiaLogomarcaDistritoAlfa02.png">
    <img src="img/midiaLogomarcaDistritoAlfa02.png" alt="Logomarca Distrito Alfa" class="img-thumbnail"/>
    Logomarca com todo o fundo transparente<br />
    <strong>Ideal para aplicação em fundo claro</strong><br />
    PNG - 1000 x 1000px<br /><br />
  </a>
</div>
<div class="clearfix">&nbsp;</div>
<div class="col-sm-offset-3 col-sm-3 col-xs-6">
  <a href="img/midiaLogomarcaDistritoAlfa03.png">
    <img src="img/midiaLogomarcaDistritoAlfa03.png" alt="Logomarca Distrito Alfa" class="img-thumbnail"/>
    Logomarca com fundo transparente + círculo preenchido + slogan<br />
    <strong>Ideal para aplicação em fundo escuro</strong><br />
    PNG - 1000 x 1000px<br /><br />
  </a>
</div>
<div class="col-sm-3 col-xs-6">
  <a href="img/midiaLogomarcaDistritoAlfa04.png">
    <img src="img/midiaLogomarcaDistritoAlfa04.png" alt="Logomarca Distrito Alfa" class="img-thumbnail"/>
    Logomarca com todo o fundo transparente + slogan<br />
    <strong>Ideal para aplicação em fundo claro</strong><br />
    PNG - 1000 x 1000px<br /><br />
  </a>
</div>
<div class="clearfix">&nbsp;</div>
